/* .pageheader {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e4e5e7;
} */

.header-content {
    padding: 14px;   
}

.title {
    font-size: 17px;
}

.header-breadcrumb {
    padding: 2px 0px;
    margin-top: 6px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #fff;
    font-size: 13px;
}

.header-breadcrumb a:hover {
    text-decoration: none;
}