.access-btn  .btn-flat  i{
    font-size: 1rem;
}

.access-btn .btn-flat {
    border: 1px solid #e4e5e7;
}

.active {
    background-color: #e6e6e6!important;
}

a:hover, a:active {
    background-color: #e6e6e6!important
}