<page-header title="Roles"></page-header>

<div class="page-content">
    <div class="row mb-4" *ngIf="!showForm">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="openForm()" *ngIf="!loading">
                <i class="fa fa-plus left"></i> Add Role</button>
            <loading class="float-right" text="Loading..." *ngIf="loading"></loading>
        </div>
    </div>

    <div class="row" *ngIf="!showForm && !loading">
        <div class="col-sm-12">
            <table class="table table-bordered table-hover table-responsive-sm">
                <thead class="thead-light">
                    <tr>
                        <th class="table-index">#</th>
                        <th>Name</th>
                        <th>Notes</th>
                        <th>Permissions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles; let i = index" class="pointer" (click)="selectRow(role)">
                        <td class="table-index">{{i + 1}}.</td>
                        <td>{{role.name}}</td>
                        <td>{{role.notes}}</td>
                        <td>{{role.privileges.split(",").length}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="" *ngIf="showForm">
        <form (ngSubmit)="save()">
            <!-- <div class="card">
                <div class="card-body">
                    <a class="btn btn-flat float-right" title="Close" (click)="closeForm()">
                        <i class="fa fa-close"></i>
                    </a>
                    <h6 class="card-title">
                        Role Form
                    </h6>
                    <hr>
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-4">
                            <label>Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="role.name" required>
                        </div>
                        <div class="form-group col-sm-12 col-md-8">
                            <label>Notes</label>
                            <input type="text" class="form-control" name="notes" [(ngModel)]="role.notes">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item bg-light">
                                    <span style="font-size: 18px">
                                        <strong>Privileges</strong>
                                    </span>
                                    <div class="float-right">
                                        <div class="form-check abc-checkbox abc-checkbox-primary">
                                            <input type="checkbox" id="all" class="form-check-input" name="checkAll" [checked]="checkAll" (change)="selectAll($event)"/>
                                            <label for="all" class="form-check-label"></label>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item" *ngFor="let perm of permissions">
                                    {{perm}}
                                    <div class="form-check abc-checkbox abc-checkbox-primary float-right">
                                        <input type="checkbox" id="{{perm.id}}" class="form-check-input" name="checked" [checked]="perm.checked" (change)="selectOne(perm, $event)" />
                                        <label for="{{perm.id}}" class="form-check-label"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                    <button type="button" class="btn btn-secondary" (click)="closeForm()"><i class="fa fa-save"></i> Cancel</button>
                    <button type="button" class="btn btn-danger float-right" (click)="remove(role.id)" *ngIf="role.id"><i class="fa fa-save"></i> Delete</button>
                </div>
            </div> -->

            <div class="row">
                <div class="col-sm-12 col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <!-- <a class="btn btn-flat float-right" title="Close" (click)="closeForm()">
                                <i class="fa fa-close"></i>
                            </a> -->
                            <div class="card-title">
                                <h5>{{title}}</h5>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="role.name" required>
                            </div>
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea rows="3" class="form-control" name="notes" [(ngModel)]="role.notes"></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-save"></i> Save</button>
                            <button type="button" class="btn btn-secondary" (click)="closeForm()">
                                <i class="fa fa-close"></i> Cancel</button>
                            <button type="button" class="btn btn-danger float-right" (click)="remove(role.id)" *ngIf="role.id">
                                <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <div class="card fixed-height">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-light">
                                <span style="font-size: 18px">
                                    <strong>Privileges</strong>
                                </span>
                                <div class="float-right">
                                    <!-- <div class="form-check abc-checkbox abc-checkbox-primary"> -->
                                    <label for="all" class="custom-control custom-checkbox">
                                        <input type="checkbox" id="all" class="custom-control-input" name="checkAll" [checked]="checkAll" (change)="selectAll($event)"
                                        />
                                        <span class="custom-control-indicator"></span>
                                        <!-- <span class="custom-control-description"></span> -->
                                    </label>
                                    <!-- </div> -->
                                </div>
                            </li>
                            <li class="list-group-item" *ngFor="let perm of privileges">
                                {{perm.name}}
                                <!-- <div class="form-check abc-checkbox abc-checkbox-primary float-right"> -->
                                <label for="{{perm.name}}" class="custom-control custom-checkbox float-right">
                                    <input type="checkbox" id="{{perm.name}}" class="custom-control-input" name="checked" [checked]="perm.checked" (change)="selectOne(perm, $event)"
                                    />
                                    <span class="custom-control-indicator"></span>
                                </label>
                                <!-- </div> -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>