<page-header title="Settings"></page-header>

<div class="page-content">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-4" *ngFor="let model of models" (click)="gotoSetting(model)">
                    <!-- <div class="settings-box">
                        <i class="fa-3x left" [ngClass]="model.icon"></i>
                        <div class="settings-label">
                            <b>{{model.label}}</b><br> {{model.description}}
                        </div>
                    </div> -->
                    <div class="row settings-box">
                        <div class="col-sm-12 col-md-3">
                            <i class="fa-3x left" [ngClass]="model.icon"></i>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <b>{{model.label}}</b>
                            <br> {{model.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>